@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

.number-button {
    margin: 2px;
    width: 60px;
    height:60px
}

.money-button {
    margin: 2px;
    width: 100px;
    height:60px
}
.title {
    font-family: 'Coiny', cursive;
    font-size: 70px;
    text-align: center;
    margin: 2rem;
}